

 <link rel="stylesheet" href="/css/home.css">
    <h1>Codeial for home :<%=title%></h1>
    
<% if(locals.user){ %>

    <section id="feed-posts">
        <h4>
            Posts
        </h4>

        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..">
            </textarea>
            <input type="submit" value="Post">
        </form>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>

                    <li class ="posts-div">
                        <br>
                        <%if(locals.user.id==post.user.id){%>
                            
                        <a href="/posts/destroy/<%= post.id %>">X</a>  
                        <%}%>
                        <%=post.content%>
                        <br>
                            <%=post.user.name%>
                         <br>
                         <br>

                         <div class="post-comments" >
                             <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="type here to add comement">
                                <input type="hidden" name="post"  value="<%=post._id %>">
                                <input type="submit" value="Add comment">
                            </form>
                         </div> 
                         <div class="post-comments-list">
                            <ul id="post-comments-<%=post.id%>">
                                <% for(comment of post.comments){%>
                                    <p>
                                        <%if(locals.user.id==comment.user.id){%>
                                            <a href="/comments/destroy/<%=comment.id %>">X</a>
                                        <%}%>
                                        <%=comment.content%>
                                        <br>
                                        <small>
                                            <%=comment.user.name%>
                                        </small>
                                    </p>


                                <%}%>


                            </ul>
                         </div>
                         
                    </li>
                <%}%>
            </ul> 
        </div>
        



    </section>
<%} %>

 