<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <!-- <header>
        Page header
    </header> -->
    <%- include('_header.ejs'); %>
    <!-- <h1>Codeial for home/<%=title%></h1> -->
    <%- body %>
    
    <!-- <footer>
        Page Footer
    </footer> -->
    <%- include('_footer.ejs'); %>
    <%- script %>
</body>
</html>