<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
</head>
<body> -->
    <!-- <header>
        Page header
    </header>  -->
    <!-- <%- include('_header.ejs');%> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>Codeial/Profile page</h1>
    <p1><%= user.name %></p1>
    <p1><%= user.email %></p1>
    <p1><%= user.password %></p1>
    <a href="/users/signout">SIGN OUT</a>

    <!-- <footer>
        Page Footer
    </footer> -->
    <!-- <%- include('_footer.ejs');%> -->
<!-- </body>
</html> -->