<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
</head>
<body> -->
    <!-- <header>
        Page header
    </header>  -->
    <!-- <%- include('_header.ejs');%> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>Codeial/Profile page</h1>
    <%if(user.id==profile_user.id){%>
        <!-- if user matches show the form -->
        <form  action="/users/update/<%=profile_user.id%>" method="POST">
            <input type="text" name="name" value="<%=profile_user.name%>" required placeholder="NAME">
            
            <input type="text" name="email" value="<%=profile_user.email%>" required placeholder="EMAIL">
            <input type="submit" value="update">
        </form>
        <%}else{%>
            <!-- else show the prfile info -->
            
    <p><%= profile_user.name%></p>
    <p><%=profile_user.email%></p>
        <%}%>

    <!-- <footer>
        Page Footer
    </footer> -->
    <!-- <%- include('_footer.ejs');%> -->
<!-- </body>
</html> -->